* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}

header  {
  height: 80px;
  background-color: #1787f9;

}

.menu ul  {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  align-items: center;
}

.menu ul  {
  list-style-type:none;
}

.fa-bars {
  font-size: 30px;
  color: white;
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 30px;
}

.button {
  background-color: #1787f9;
  border-radius: 15px;
  padding: 10px;
  text-decoration: none;
  color: white;

}

.container .box {
  background-color: #b6ddfd;
  border-radius: 15px;
}

img {
  width: 100%;
}













  





